@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:wght@700&family=Ubuntu:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: true;
  width: 540px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: #483862;
  font-stretch: condensed;
}

.login {
  width: 200px;
  height: 80px;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #483862;
  padding: 16px;
  border: 2px solid #483862;
  border-radius: 10px;
  text-align: center;
}

#tagline {
  text-align: center;
  margin: 20px;
  font-size: 50px;
  font-family: "Nunito", sans-serif;
  color: #31cce0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.plainBut {
  color: #483862;
  font-family: "Ubuntu", sans-serif;
  font-style: bold;
  text-decoration: none;
}

#mockup {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mockup img {
  height: auto;
  width: 60%;
}

.darkLarge {
  color: #483862;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 60px;
}

.lightLarge {
  color: #31cce0;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 30px;
}

.darkP {
  color: #483862;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

.button {
  display: flex;
  justify-content: center;
}

.lightBut {
  align-items: center;
  width: 200px;
  height: 60px;
  text-decoration: none;
  color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  border: 1px #483862;
  border-radius: 10px;
  background-color: #483862;
  display: flex;
  justify-content: center;
}

.peng {
  display: flex;
  flex-direction: row;
}
.peng img {
  height: auto;
  width: 50%;
}
.peng p {
  color: #483862;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  text-align: left;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  section div {
    width: 100%;
  }
}