
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:wght@700&family=Ubuntu:wght@300;700&display=swap');


* {
    margin: 100;
    padding: 0;
    box-sizing: border-box;
    word-wrap: true;
    //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
}

$primary-color: #483862;
$secondary-color: #31cce0;
$font-logo: "Ubuntu", sans-serif;
$font-body: "Ubuntu", sans-serif; 
$font-special: "Nunito", sans-serif;

.banner {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-family: $font-logo;
    font-size: 80px;
    font-weight: 700;
    color: $primary-color;
}

.login {

    width: 200px;
    height: 80px;
    font-family: $font-body;
    font-size: 40px;
    font-weight: 700;
    color: $primary-color;
    padding: 16px;
    border: 2px solid $primary-color;
    border-radius: 10px;
    text-align: center;
}

#tagline {
    text-align: center;
    margin: 50px;
    font-size: 50px;
    font-family: $font-special;
    color: $secondary-color;
    display: flex;
    flex-direction:row;
    justify-content: center;
    
}

a {
    color: $primary-color;
    font-family: $font-body;
    font-style: bold;
    text-decoration: none;
    
}

#mockup {
    
    display: flex;
    justify-content: center;
    align-items: center;

    img { 
        height:auto;
        width: 40%; 
        }
}



.darkP {

    color: $primary-color;
    font-family: $font-body;    
}



@media screen and (max-width: 768px) {
    section {
            div {
                width: 100%;
            }
    }
}
