
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&family=Cantarell:ital,wght@1,700&family=Courgette&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
}

$primary-color: #483862;
$secondary-color: #71D0C8;
$font-logo: "Courgette", sans-serif;
$font-body: "Anek+Malayalam", sans-serif; 

.banner {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
}

section {
    display: flex;
    flex-direction: column;
}

.logo {
    font-family: $font-logo;
    font-size: 80px;
    color: $primary-color;
}

.login {

    width: 200px;
    height: 100px;
    font-family: $font-body;
    font-size: 40px;
    
    color: $primary-color;
    padding: 20px;
    border: 2px solid $primary-color;
    border-radius: 4px;
    text-align: center;
}

a {
    color: $primary-color;
    font-family: $font-body;
    font-style: bold;
}

.darkP {

    color: $primary-color;
    font-family: $font-body;    
}



@media screen and (max-width: 768px) {
    section {
            div {
                width: 100%;
            }
    }
}
