
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:wght@700&family=Ubuntu:wght@300;700&display=swap');


* {
    margin: 0px;
    padding:10px;
    box-sizing: border-box;
    word-wrap: true;
    width: 768px;
    //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
}

$primary-color: #483862;
$secondary-color: #31cce0;
$font-logo: "Ubuntu", sans-serif;
$font-body: "Ubuntu", sans-serif; 
$font-special: "Nunito", sans-serif;

.banner {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    img {
        height:auto;
        width: 150px;
    }
}



section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.logo {
    font-family: $font-logo;
    font-size: 80px;
    font-weight: 700;
    color: $primary-color;
    font-stretch: condensed;
}



.login {

    width: 200px;
    height: 80px;
    font-family: $font-body;
    font-size: 40px;
    font-weight: 700;
    color: $primary-color;
    padding: 16px;
    border: 2px solid $primary-color;
    border-radius: 10px;
    text-align: center;
    transition: border 0.3s ease;
    
}

.login:hover {

    border: 6px solid $primary-color;
   
}

#tagline {
    text-align: center;
    margin: 20px;
    font-size: 50px;
    font-family: $font-special;
    color: $secondary-color;
    display: flex;
    
    justify-content: center;
    
    
}



#mockup {
    
    display: flex;
    justify-content: center;
    align-items: center;

    img { 
        height:auto;
        width: 60%; 
        }
}

.darkLarge {

    color: $primary-color;
    font-family: $font-body;
    font-size: 40px;
    text-align: center;
    padding: 60px;
}

.lightLarge {

    color: $secondary-color;
    font-family: $font-body;
    font-size: 40px;
    text-align: center;
    padding: 30px;
}

.darkP {

    color: $primary-color;
    font-family: $font-body;   
    font-size: 30px; 
    text-align: center;
    padding: 30px;
}

.button {
    display: flex;
    justify-content: center;
    
}

.plainBut {
    color: $primary-color;
    font-family: $font-body;
    font-style: bold;
    text-decoration: none;
    
    font-size: 40px;
    font-weight: 700;
    color: $primary-color;
    padding: 16px;
   
    text-align: center;
    transition: color 0.3s ease;
    
}

.plainBut:hover {

    color: $secondary-color;
}



.lightBut {
    align-items: center;
    width: 340px;
    height: 80px;
    text-decoration: none;
    color: whitesmoke;
    font-family: $font-body;
    font-size: 28px;
    border: 1px  $primary-color;
    border-radius: 10px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.lightBut:hover {

    background-color: $secondary-color;
}

.peng {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img { 
        height:auto;
        width: 50%; 
        }
    p {
        color: $primary-color;
        font-family: $font-body;   
        font-size: 30px; 
        text-align: left;
        justify-content: center;
        padding: 30px;
    }
    div {

        padding: 10px;
    }
}

#footer {

    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    section {
            div {
                width: 100%;
            }
    }
}
